@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --light-sky-blue: #cee5f2;
  --soft-blue: #accbe1;
  --medium-slate-blue: #7c98b3;
  --steel-gray: #637081;
  --cool-gray: #536b78;
  --light-gray: #d9d9d9;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: none;
}

.base {
  width: 39.4rem;
  height: 48rem;
  background-color: var(--light-sky-blue);
  border-radius: 1rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgb(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.screen {
  width: 34.6rem;
  height: 8rem;
  background-color: var(--light-gray);
  margin: 2.4rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgb(0, 0, 0, 0.25);
  font-size: 2.85rem;
  color: var(--cool-gray);
  text-align: right;
  align-content: end;
  padding: 1rem;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 6.6rem);
  grid-template-rows: repeat(5, 5rem);
  gap: 1.6rem;
  margin-inline: 4rem;
  font-size: 3.2rem;
}

.buttons__key {
  background-color: var(--soft-blue);
  border-radius: 1.5rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgb(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.buttons__key:hover {
  opacity: 0.6;
}

.buttons__key:active,
.isPressed {
  box-shadow: inset 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}

.buttons__numbers {
  background-color: var(--soft-blue);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.buttons__actions {
  background-color: var(--medium-slate-blue);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.buttons__equal-sign {
  background-color: var(--steel-gray);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
